body{
  margin: 0;
  padding: 0;
  z-index: 1;
  background: url(./pics/tori-1976609.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.box{
  width: 500px;
  height: 680px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  line-height: 1.5;
}
.box-img{
  margin-top: 10px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 8px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
